<a href="https://colab.research.google.com/github/feelingsunny/Bioinformatics/blob/master/sort_replace.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import csv
import pandas as pd
import numpy

In [0]:
# Code to read csv file into Colaboratory:
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
# Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [0]:
link = 'https://drive.google.com/open?id=1Jq-dBjzknyEPD2eatreADkMP_emKNlsx' # The shareable link

In [4]:
fluff, id = link.split('=')
print (id) # Verify that you have everything after '='

1Jq-dBjzknyEPD2eatreADkMP_emKNlsx

In [0]:
downloaded = drive.CreateFile({'id':id}) 
downloaded.GetContentFile('PathwayCommons11.All.hgnc.csv')  
df = pd.read_csv('PathwayCommons11.All.hgnc.csv', header = None, delimiter='\t')
df.columns = ["X", "Interaction", "Y"]
# Dataset is now stored in a Pandas Dataframe

In [6]:
df.head()

      X             Interaction       Y
0  A1BG  controls-expression-of     A2M
1  A1BG          interacts-with   ABCC6
2  A1BG          interacts-with    ACE2
3  A1BG          interacts-with  ADAM10
4  A1BG          interacts-with  ADAM17

In [7]:
df.tail()

            X               Interaction         Y
1851002  ZZZ3  controls-state-change-of  HIST1H3I
1851003  ZZZ3  controls-state-change-of  HIST1H3J
1851004  ZZZ3  controls-state-change-of  HIST2H3A
1851005  ZZZ3  controls-state-change-of  HIST2H3C
1851006  ZZZ3  controls-state-change-of  HIST2H3D

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1851007 entries, 0 to 1851006
Data columns (total 3 columns):
X              object
Interaction    object
Y              object
dtypes: object(3)
memory usage: 42.4+ MB

In [9]:
df1=df.replace({'controls-state-change-of':'SR',
            'controls-phosphorylation-of':'SRp',
            'controls-expression-of':'ER',
            'in-complex-with': 'CAI',
            'controls-transport-of':'TR',
            'controls-transport-of-chemical':'TRc',
            'chemical-affects':'ca',
            'interacts-with':'MI',
            'used-to-produce':'sp',
            'consumption-controlled-by':'sE',
            'controls-production-of':'Ep',
            'catalysis-precedes':'EF',
            'reacts-with':'rw'
      })
df1

              X Interaction            Y
0          A1BG          ER          A2M
1          A1BG          MI        ABCC6
2          A1BG          MI         ACE2
3          A1BG          MI       ADAM10
4          A1BG          MI       ADAM17
5          A1BG          MI        ADAM9
6          A1BG          MI         AGO1
7          A1BG         SRp         AKT1
8          A1BG          SR         AKT1
9          A1BG          MI        ANXA7
10         A1BG          MI       CDKN1A
11         A1BG          MI       CRISP3
12         A1BG          MI          CRK
13         A1BG          MI        CSE1L
14         A1BG          MI        CUL4B
15         A1BG          MI        DDX3X
16         A1BG          MI        DEAF1
17         A1BG          MI         E2F1
18         A1BG          MI         E2F2
19         A1BG          MI         E2F3
20         A1BG          MI        EIF3E
21         A1BG          MI       ELAVL1
22         A1BG          MI         FDXR
23         A1BG          MI       GABRA2
24         A1BG          MI        GDPD1
25         A1BG          MI       GLIPR1
26         A1BG         CAI         GRB2
27         A1BG          MI         GRB7
28         A1BG          MI        HNF4A
29         A1BG          MI       HNRNPC
...         ...         ...          ...
1850977  ZSWIM8          SR        ROBO3
1850978  ZSWIM8          MI         ZUP1
1850979    ZW10          SR       DIAPH2
1850980    ZW10          SR        STAG2
1850981    ZW10         CAI       ZWILCH
1850982    ZW10          MI       ZWILCH
1850983    ZW10         CAI        ZWINT
1850984    ZW10          MI        ZWINT
1850985  ZWILCH          SR       DIAPH2
1850986  ZWILCH          SR        STAG2
1850987  ZWILCH         CAI        ZWINT
1850988   ZWINT          SR       DIAPH2
1850989   ZWINT          SR        STAG2
1850990    ZXDA          MI         ZXDC
1850991     ZYX          SR         VASP
1850992     ZYX          TR         VASP
1850993    ZZZ3          Ep  CHEBI:15346
1850994    ZZZ3          SR     HIST1H3A
1850995    ZZZ3          SR     HIST1H3B
1850996    ZZZ3          SR     HIST1H3C
1850997    ZZZ3          SR     HIST1H3D
1850998    ZZZ3          SR     HIST1H3E
1850999    ZZZ3          SR     HIST1H3F
1851000    ZZZ3          SR     HIST1H3G
1851001    ZZZ3          SR     HIST1H3H
1851002    ZZZ3          SR     HIST1H3I
1851003    ZZZ3          SR     HIST1H3J
1851004    ZZZ3          SR     HIST2H3A
1851005    ZZZ3          SR     HIST2H3C
1851006    ZZZ3          SR     HIST2H3D

[1851007 rows x 3 columns]

In [10]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1851007 entries, 0 to 1851006
Data columns (total 3 columns):
X              object
Interaction    object
Y              object
dtypes: object(3)
memory usage: 42.4+ MB

In [11]:
df1.describe()

                  X Interaction        Y
count       1851007     1851007  1851007
unique        27344          13    23470
top     CHEBI:39867          ca     TP53
freq          14084      607820     2844

In [12]:

df1.Interaction.sort_values()

925503     CAI
1406215    CAI
1406214    CAI
1406210    CAI
1406206    CAI
1406204    CAI
1406191    CAI
1406187    CAI
1406182    CAI
1406177    CAI
1406175    CAI
1406174    CAI
1406173    CAI
1406171    CAI
1406169    CAI
1406167    CAI
1406166    CAI
1406165    CAI
1406042    CAI
1406043    CAI
1406044    CAI
1406045    CAI
1406046    CAI
1406048    CAI
1406217    CAI
1406049    CAI
1406051    CAI
1406053    CAI
1406054    CAI
1406160    CAI
          ...
749634      sp
756931      sp
749642      sp
749641      sp
749640      sp
315977      sp
749639      sp
749638      sp
315980      sp
315981      sp
756924      sp
315982      sp
749637      sp
315983      sp
749644      sp
315984      sp
315986      sp
756925      sp
315988      sp
315989      sp
749635      sp
315990      sp
315991      sp
756926      sp
756927      sp
756928      sp
756929      sp
756930      sp
749636      sp
336776      sp
Name: Interaction, Length: 1851007, dtype: object

In [13]:
count=df1.groupby('Interaction').size()
count

Interaction
CAI    190769
EF     151000
ER     126396
Ep      20766
MI     485608
SR     199817
SRp     17604
TR       7806
TRc      3562
ca     607820
rw       3775
sE      22401
sp      13683
dtype: int64

In [0]:
df1.to_csv('BioPAX_PMapp.csv',index = False,doublequote=False)

In [0]:
count.to_csv('count_BioPAX_PMapp.csv',header = "None")